html,
body {
    background: #43a9e4;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bold;
}
#postit {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
    float: left;
}
div > div > p {
    text-align: center;
    margin-top: 40px;
    margin-left: 75px;
    display: inline;
    float: left;
}
.welcome {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 200px auto;
    background: #ffffff;
    align-items: center;
    box-shadow: 5px 5px 10px 5px #00000031;
}

input {
    width: 60%;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 14px;
    
}

input[type="submit"] {
    width: 25%;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(1, 81, 173);
    cursor: pointer;
}
input[type="submit"]:active {
    width: 23%;
    height: 37px;
    background-color: rgb(4, 67, 138);
    
}

a {
    color: #43a9e4;
}

a::after {
    color: #c89ff7;
}
