* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background-color: #43a9e4;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    top: 0;
}
.main-nav {
    display: flex;
    flex-direction: row;
    height: 100%;

    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.main-nav__item {
    margin: 0 2% 0 2%;
    width: 33%;
    position: relative;
}

.main-nav__img {
    position: absolute;
    width: auto;
    height: 100%;
}

.main-nav__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav__profile > img {
    position: absolute;
    width: auto;
    height: 100%;
}

.main-nav__item.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-nav__input {
    height: calc(50% - 2px);
    border: solid rgba(0, 0, 0, 0.178) 1px;
    padding-left: 5px;
    width: 80%;
}

.main-nav__btn {
    height: 50%;
    width: 20%;
    border-width: 0px;
    color: white;
    background-color: rgb(27, 92, 177);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section {
    display: flex;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}

.flex-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
  display: flex;
  flex-direction: column;  
}

.flex-container > div {
justify-content: center; 
  width: auto;
  box-shadow: 5px 10px 18px #888888;
  margin: 10px;
  text-align: left;
  font-size: 150%;
  font-weight: 500;
}
div p {
    text-align: left;
    font-size: 115%;
    font-weight: 300%;
    margin: 1.5%;
}
nav + img {
    margin-bottom: 1%;
    justify-content: absolut; 
    width: 100%;
    height: 70%;
}

.post-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.Date1 {
    display: flex;
    align-self:flex-end;
    font-size: 60%;
    font-weight: 300%;
    margin: 2%;
}

.user1 {
    widows: 23px;;
    height: 23px;
    margin: 2%;
}

p.Caption::first-letter {
    color: black;
    font-size: 130%;
  }  
nav ~ button{
    border: 0; 
    background: transparent;
}