* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background-color: #43a9e4;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    top: 0;
}
.main-nav {
    display: flex;
    flex-direction: row;
    height: 100%;

    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.main-nav__item {
    margin: 0 2% 0 2%;
    width: 33%;
    position: relative;
}

.main-nav__img {
    position: absolute;
    width: auto;
    height: 100%;
}

.main-nav__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav__profile > img {
    position: absolute;
    width: auto;
    height: 100%;
}

.main-nav__item.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav__input {
    height: calc(50% - 2px);
    border: solid rgba(0, 0, 0, 0.178) 1px;
    padding-left: 5px;
    width: 80%;
}

.main-nav__btn {
    height: 50%;
    width: 20%;
    border-width: 0px;
    color: white;
    background-color: rgb(27, 92, 177);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section {
    display: flex;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
}
